NEXT_PUBLIC_PROJECT_NAME=My Project
NEXT_PUBLIC_PROJECT_ONELINER=One-line description of this project
NEXT_PUBLIC_CONSORTIUM=Consortium Name
NEXT_PUBLIC_SCSIWYG_SITE=your-scsiwyg-slug
SITE_PASSWORD=changeme
